.color{
    width: 90%;
    padding:$small-pad;
    border: 1px solid $border-grey;
    border-radius: 5px;
    margin: auto;
    margin-top: $xsmall-mar;
    display: flex;
    align-items: center;
    justify-content: space-between;
}