.css{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    margin-top: $medium-mar;
    padding:$small-pad;
    font-size: $medium-font;
    cursor: pointer;
    color:white;
    border-radius: 5px;
    background-color: $active;
}

.css:hover{
    opacity: 0.8;
}