.header{
    padding:$small-pad;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-h2{
    background: linear-gradient( 92deg, #95d7e3, #eb76ff );
    background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
    background-size:600vw 600vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textAnimate 5s linear infinite alternate;
}

@keyframes textAnimate {
    from {
      filter: hue-rotate(0deg);
      background-position-x: 0%;
      
    }
    to {
      filter: hue-rotate(360deg);
      background-position-x: 600vw;
    }
  }

  .nav-item{
    text-decoration: none;
    padding:$xsmall-pad $small-pad; 
    border-radius: 5px;
  }

  .nav-item:hover{
    background-color: $border-grey;
  }

  .nav-active,.nav-active:hover{
    background-color: $active;
    color:white;
  }

