.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    display: block;
}

.close{
    color:#fa163f;
}

.close:hover{
    opacity: 0.8;
    cursor: pointer;
}

.close-container{
    text-align: right;
    padding:$small-pad;
}

@media(max-width:600px){
    .overlay{
        padding: $small-pad;
        height: 100vh;
    }
}