//Padding
$xsmall-pad:0.5rem;
$small-pad:1rem;

//Margin
$medium-mar:2rem;
$small-mar:1rem;
$xsmall-mar:0.5rem;

//Colors
$border-grey:#dfe1e6;
$background-grey:#f5f6f7;
$active:#0075ff;

//Font sizes
$small-font:1.10rem;
$medium-font:1.25rem;
