*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.4;
    font-family: 'Arvo', serif;
    background-color: $background-grey;
}

.CodeMirror{
    margin:auto;
    margin-top: 20vh;
    max-width: 1100px;
    height: 15vh;
    border-radius: 5px;
    font-size: 1.3rem;
}

@media (max-width:600px){
  .CodeMirror-scroll * {
    white-space: pre-wrap;
  }

  body{
    position: relative;
  }
}